<div class="col-12 col-lg-10 offset-lg-1">
  <h4 class="d-inline-block bg-light px-3 py-2">
    <%= @customer.full_name %>さんの会員情報編集
  </h4>

  <%= render "layouts/error_messages", resource: @customer %>
  <%= form_with model: @customer, url: admin_customer_path(@customer) do |f| %>
    <div class="row form-group">
      <div class="col-12 col-md-4 col-lg-3">
        <span class="col-form-label">会員ID</span>
      </div>
      <div class="col-12 col-md-8 col-lg-9">
        <%= @customer.id %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-12 col-md-2 mb-sm-n2 col-form-label">
        名前
      </div>
      <div class="col-3 col-sm-2 col-md-2 col-lg-1 pb-2">
        <%= f.label :last_name, "(姓)", class: "col-form-label" %>
      </div>
      <div class="col-9 col-sm-4 col-md-3 col-lg-4 pb-2">
        <%= f.text_field :last_name, class: "form-control", placeholder: "令和" %>
      </div>
      <div class="col-3 col-sm-2 col-md-2 col-lg-1">
        <%= f.label :first_name, "(名)", class: "col-form-label" %>
      </div>
      <div class="col-9 col-sm-4 col-md-3 col-lg-4">
        <%= f.text_field :first_name, class: "form-control", placeholder: "道子" %>
      </div>
    </div>

    <div class="row  form-group">
      <div class="col-12 col-md-2 mb-sm-n2  col-form-label">
        フリガナ
      </div>
      <div class="col-3 col-sm-2 col-md-2 col-lg-1 pb-2">
        <%= f.label :last_name_kana, "(セイ)", class: "col-form-label" %>
      </div>
      <div class="col-9 col-sm-4 col-md-3 col-lg-4 pb-2">
        <%= f.text_field :last_name_kana, class: "form-control", placeholder: "レイワ" %>
      </div>
      <div class="col-3 col-sm-2 col-md-2 col-lg-1">
        <%= f.label :first_name_kana, "(メイ)", class: "col-form-label" %>
      </div>
      <div class="col-9 col-sm-4 col-md-3 col-lg-4">
        <%= f.text_field :first_name_kana, class: "form-control", placeholder: "ミチコ" %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-12 col-md-4 col-lg-3">
        <%= f.label :postal_code, "郵便番号 (ハイフンなし)", class: "col-form-label" %>
      </div>
      <div class="col-12 col-md-8 col-lg-4">
        <%= f.text_field :postal_code, class: "form-control", placeholder: "0000000" %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-12 col-md-4 col-lg-3">
        <%= f.label :address, class: "col-form-label" %>
      </div>
      <div class="col-12 col-md-8 col-lg-9">
        <%= f.text_field :address, class: "form-control", placeholder: "東京都渋谷区代々木神園町0-0" %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-12 col-md-4 col-lg-3">
        <%= f.label :telephone_number, "電話番号 (ハイフンなし)", class: "col-form-label" %>
      </div>
      <div class="col-12 col-md-8 col-lg-4">
        <%= f.text_field :telephone_number, class: "form-control", placeholder: "00000000000" %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-12 col-md-4 col-lg-3">
        <%= f.label :email, class: "col-form-label" %>
      </div>
      <div class="col-12 col-md-8 col-lg-4">
        <%= f.email_field :email, class: "form-control", placeholder: "sample@example.com" %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-12 col-md-4 col-lg-3">
        <%= f.label :is_deleted, class: "col-form-label" %>
      </div>
      <div class="col-12 col-md-8 col-lg-4">
        <div class="form-check form-check-inline">
          <%= f.radio_button :is_deleted, false, class: "form-check-input", checked: true %>
          <%= f.label :is_deleted, "有効", class: "form-check-label" %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :is_deleted, true, class: "form-check-input" %>
          <%= f.label :is_deleted, "退会", class: "form-check-label" %>
        </div>
      </div>
    </div>


    <div class="row form-group mt-4">
      <div class="col-3 offset-2">
        <%= f.submit "編集内容を保存", class: "btn btn-success w-100" %>
      </div>
      <div class="col-3 offset-2">
        <%= link_to "退会する", unsubscribe_customers_path, class: "btn btn-danger w-100" %>
      </div>
    </div>

  <% end %>


  <h4 class="d-inline-block bg-light px-3 py-2">
    既に登録済みの方
  </h4>
  <div class="py-3 pl-3">
    <%= link_to "こちら", new_customer_session_path %>からログインしてください。
  </div>
</div>