<div class="col-12 col-lg-10 offset-lg-1">
  <h4 class="d-inline-block bg-light px-3 py-2">
    注文履歴詳細
  </h4>
  <div class="row">
    <div class="col-12">
      <table class="table-borderless w-100">
        <tr>
          <th class="p-2">
            購入者
          </th>
          <td class="p-2">
            <%= link_to @order.customer.full_name, admin_customer_path(@order.customer) %>
          </td>
        </tr>
        <tr>
          <th class="p-2">
            注文日
          </th>
          <td class="p-2">
            <%= @order.created_at.strftime("%Y/%m/%d") %>
          </td>
        </tr>
        <tr>
          <th class="p-2">
            配送先
          </th>
          <td class="p-2">
            〒 <%= @order.postal_code %> <%= @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <th class="p-2">
            支払方法
          </th>
          <td class="p-2">
            <%= @order.payment_method_i18n %>
          </td>
        </tr>
        <tr>
          <th class="p-2">
            注文ステータス
          </th>
          <td class="p-2">
            <%= form_with model: @order, url: admin_order_path(@order) do |f| %>
              <div class="input-group col-md-6 pl-0">
                <%= f.select :status, Order.statuses.keys.map { |k| [I18n.t("enums.order.status.#{k}"), k] }, {}, class: "form-control" %>
                <div class="input-group-append">
                  <%= f.submit "更新", class: "btn btn-success" %>
                </div>
              </div>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-4 d-flex align-items-end">
    <div class="col-12 col-lg-8">
      <table class="table-borderless w-100">
        <thead class="bg-light">
        <tr>
          <th class="p-2">
            商品
          </th>
          <th class="p-2">
            単価 (税込)
          </th>
          <th class="p-2">
            数量
          </th>
          <th class="p-2">
            小計
          </th>
          <th class="p-2">
            製作ステータス
          </th>
        </tr>
        </thead>
        <tbody>
        <% @order.order_details.each do |order_detail| %>
          <tr>
            <td class="p-2 font-weight-bold">
              <%= order_detail.item.name %>
            </td>
            <td class="p-2">
              <%= order_detail.price.to_s(:delimited) %>
            </td>
            <td class="p-2">
              <%= order_detail.amount %>
            </td>
            <td class="p-2">
              <%= order_detail.subtotal.to_s(:delimited) %>
            </td>
            <td class="p-2">
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail) do |f| %>
                <div class="input-group">
                  <%= f.select :making_status, OrderDetail.making_statuses.keys.map { |k| [I18n.t("enums.order_detail.making_status.#{k}"), k] }, {}, class: "form-control" %>
                  <div class="input-group-append">
                    <%= f.submit "更新", class: "btn btn-success" %>
                  </div>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-4">
      <table class="w-100">
        <tr>
          <th class="p-2">
            商品合計
          </th>
          <td class="p-2">
            <%= @order.order_details.sum(&:subtotal).to_s(:delimited) %> 円
          </td>
        </tr>
        <tr>
          <th class="p-2">
            送料
          </th>
          <td class="p-2">
            <%= @order.shipping_cost.to_s(:delimited) %> 円
          </td>
        </tr>
        <tr>
          <th class="p-2">
            請求金額合計
          </th>
          <th class="p-2">
            <%= (@order.shipping_cost + @order.order_details.sum(&:subtotal)).to_s(:delimited) %> 円
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>